.video-chat {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100vh - 70px);
  align-items: center;
  padding: 20px;
}

.container {
  width: auto;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.margin {
  margin-top: 20px !important;
}

.notifier {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.player-chat {
  display: flex;
  justify-content: center;
  width: 100%;
}

.video-container {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
}

.video-container video {
  width: 100%;
}

@media all and (max-width: 500px) {
  .player-chat{
    flex-direction: column;
  }
}
